.container {
  text-align: center;

  h1 {
    margin-top: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 900;
  }

  .name {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
  }

  .buttons {
    margin-top: 50px;

    button {
      margin: 0 30px;
      min-width: 130px;
    }
  }
}